$color:white;

h1{
    color:$color;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: thistle;
}
.form-container form{
    display: flex;
    flex-direction: column;

}
.form-container input{
    padding: 20px;
    font-size: 1.8rem;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
}
.form-container input[type=submit]{
    color: white;
    background-color: transparent;
}

.form-container ::placeholder{
    color: white;
    background-color: transparent;
}
